# Common lib
numpy
scipy
seaborn
numba
networkx
Selenium
tqdm
mysqlclient
# Machine learning lib
scikit-learn
xgboost
lightgbm
arch
statsmodels
prophet
gluonts
mxnet
sktime
shap
pdpbox
dtreeviz
# Optimization lib
GPy
GPyOpt
pulp
mip
gurobipy
pymoo
# Finance lib
pandas-datareader
yfinance
yahooquery
mplfinance
yahoo_fin
quantstats
ffn
pyfolio
backtesting
# Jupyter lib
ipython
ipynb
ipympl
jupyterlab
import-ipynb
lckr-jupyterlab-variableinspector