numpy
scipy
seaborn
scikit-learn
numba
networkx
Selenium
pandas-datareader
yfinance
yahooquery
mplfinance
xgboost
lightgbm
statsmodels
prophet
gluonts
mxnet
tqdm
mysqlclient
sktime
shap
pdpbox
yahoo_fin
quantstats
ffn
pyfolio
arch